<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
    <script>


        // $(document).ready(function () {

        //     var token = localStorage.getItem("token");
        //     console.log(token);
        //     $.ajax({
        //         type: 'GET',
        //         url: "http://localhost:3000/exemplu",
        //         headers: {
        //             "authorization": "bearer " + token

        //         }
        //     }).done(function (data) {
        //         console.log(data);
        //     });

        // });




        //document.cookie = "token&{token}"
    </script>

</head>

<body>
    Felicitări ai reusit să accesezi acestă pagină cu ajutorul token ului creat dupa logare.
</body>

</html>